#signindiv {
    background-color: white;
    margin-top: 10vw;
    border-radius: 25px;
}



#passwordInput {
    transition: margin 50ms;
    justify-self: center;
}

#password {
    margin: auto;
}
#lastchar {
    margin: auto;
}

#darkbutton {
    margin-top: 5vw;
    margin-left: 1vw;
}

@media only screen and (max-width: 1200px) {
    #darkbutton {
        margin-top: 15vw;
        margin-left: 1vw;
    }
}
body {
    cursor: wait;
    transition: transform 2.5s, scale 1200s;
}

